In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [24]:
df = pd.read_parquet('bn_data.parquet', columns=['question', 'answer', 'title'])

df

,question,answer,title
0,মোঃ আব্দুল মুক্তাদির কবে জন্মগ্রহণ করেন?,১৯ ফেব্রুয়ারি ১৯৪০।,মোঃ আব্দুল মুক্তাদির
1,মোঃ আব্দুল মুক্তাদির কখন মারা যান?,২৫ শে মার্চ ১৯৭১।,মোঃ আব্দুল মুক্তাদির
2,মোঃ আব্দুল মুক্তাদিরকে কীভাবে গণ্য করা হয়?,শহীদ।,মোঃ আব্দুল মুক্তাদির
3,সোলো সিকোয়ার জন্ম কবে হয়?,"১৮ই মার্চ, ১৯৯৩।",সোলো সিকোয়া
4,সোলো সিকোয়া কোন ব্র্যান্ডে পারফর্ম করেন?,স্ম্যাকডাউন।,সোলো সিকোয়া
...,...,...,...
3320037,বিশ্বের মধ্যে বৃহত্তম ডাবোল-ওন্ড খেয়া ব্যবস্থ...,বিসি খেয়া।,খেয়া
3320038,অস্ট্রেলিয়ার কোন শহরে দোধারা খেয়া ব্যবস্থা চ...,সিডনি।,খেয়া
3320039,খেয়া কী ধরনের যানবাহন?,হোভারক্রাফট।,খেয়া
3320040,খেয়ার সাথে সম্পর্কিত প্রযুক্তি কী?,হোভারক্রাফট প্রযুক্তি।,খেয়া
3320041,খেয়া কোন মাধ্যমে চলাচল করতে পারে?,জল।,খেয়া

In [25]:
df = df.drop_duplicates(subset='title')

df

,question,answer,title
0,মোঃ আব্দুল মুক্তাদির কবে জন্মগ্রহণ করেন?,১৯ ফেব্রুয়ারি ১৯৪০।,মোঃ আব্দুল মুক্তাদির
3,সোলো সিকোয়ার জন্ম কবে হয়?,"১৮ই মার্চ, ১৯৯৩।",সোলো সিকোয়া
21,বিলি নিউহাম কোন দলের প্রতিনিধিত্ব করেছেন ঘরোয়...,সাসেক্স।,বিলি নিউহাম
42,গুরু নানক কোন ধরনের উপাসনা প্রত্যাখ্যান করেছিলেন?,ধর্মীয় উপাসনা।,শিখধর্মের সমালোচনা
60,নিকিতা কোন্তিনি কোন দেশের পেশাদার ফুটবল লিগের ...,ইতালি।,নিকিতা কোন্তিনি
...,...,...,...
3319925,শাআনশি প্রদেশের রাজধানীর নাম কী?,শিআন।,শাআনশি
3319928,মীরসরাই থানা কোন জেলার অন্তর্গত?,চট্টগ্রাম।,মীরসরাই থানা
3319940,জোরারগঞ্জ থানা কোন জেলার অন্তর্গত?,চট্টগ্রাম।,জোরারগঞ্জ থানা
3319952,নিংশিয়া হুয়েই স্বায়ত্বশাসিত অঞ্চল কোন দেশের...,গণপ্রজাতন্ত্রী চীন।,নিংশিয়া
3319958,ভাঙন বাটা মাছের বৈজ্ঞানিক নাম কী?,Labeo bata।,ভাঙন বাটা

In [26]:
latin_regex = r'[a-zA-Z]'

mask = (df['question'].str.contains(latin_regex, regex=True, na=False)) | \
       (df['answer'].str.contains(latin_regex, regex=True, na=False))

df = df[~mask]

df

,question,answer,title
0,মোঃ আব্দুল মুক্তাদির কবে জন্মগ্রহণ করেন?,১৯ ফেব্রুয়ারি ১৯৪০।,মোঃ আব্দুল মুক্তাদির
3,সোলো সিকোয়ার জন্ম কবে হয়?,"১৮ই মার্চ, ১৯৯৩।",সোলো সিকোয়া
21,বিলি নিউহাম কোন দলের প্রতিনিধিত্ব করেছেন ঘরোয়...,সাসেক্স।,বিলি নিউহাম
42,গুরু নানক কোন ধরনের উপাসনা প্রত্যাখ্যান করেছিলেন?,ধর্মীয় উপাসনা।,শিখধর্মের সমালোচনা
60,নিকিতা কোন্তিনি কোন দেশের পেশাদার ফুটবল লিগের ...,ইতালি।,নিকিতা কোন্তিনি
...,...,...,...
3319898,মধুমিতা বিস্ত কতবার ভারতীয় ন্যাশনাল ব্যাডমিন্...,৮ বার।,মধুমিতা বিস্ত
3319925,শাআনশি প্রদেশের রাজধানীর নাম কী?,শিআন।,শাআনশি
3319928,মীরসরাই থানা কোন জেলার অন্তর্গত?,চট্টগ্রাম।,মীরসরাই থানা
3319940,জোরারগঞ্জ থানা কোন জেলার অন্তর্গত?,চট্টগ্রাম।,জোরারগঞ্জ থানা
3319952,নিংশিয়া হুয়েই স্বায়ত্বশাসিত অঞ্চল কোন দেশের...,গণপ্রজাতন্ত্রী চীন।,নিংশিয়া

In [27]:
df = df.drop(columns=['title'])
df = df.reset_index(drop=True)

df

,question,answer
0,মোঃ আব্দুল মুক্তাদির কবে জন্মগ্রহণ করেন?,১৯ ফেব্রুয়ারি ১৯৪০।
1,সোলো সিকোয়ার জন্ম কবে হয়?,"১৮ই মার্চ, ১৯৯৩।"
2,বিলি নিউহাম কোন দলের প্রতিনিধিত্ব করেছেন ঘরোয়...,সাসেক্স।
3,গুরু নানক কোন ধরনের উপাসনা প্রত্যাখ্যান করেছিলেন?,ধর্মীয় উপাসনা।
4,নিকিতা কোন্তিনি কোন দেশের পেশাদার ফুটবল লিগের ...,ইতালি।
...,...,...
157150,মধুমিতা বিস্ত কতবার ভারতীয় ন্যাশনাল ব্যাডমিন্...,৮ বার।
157151,শাআনশি প্রদেশের রাজধানীর নাম কী?,শিআন।
157152,মীরসরাই থানা কোন জেলার অন্তর্গত?,চট্টগ্রাম।
157153,জোরারগঞ্জ থানা কোন জেলার অন্তর্গত?,চট্টগ্রাম।
157154,নিংশিয়া হুয়েই স্বায়ত্বশাসিত অঞ্চল কোন দেশের...,গণপ্রজাতন্ত্রী চীন।

In [ ]:
df_train, df_temp = train_test_split(df, test_size=0.40, random_state=42)
df_val, df_test = train_test_split(df_temp, test_size=0.5, random_state=42)

In [ ]:
df_train.to_